

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<!-- THE DIRECTIVES ARE USE TO MODIFY THE DOM -->
<!-- EXAMPLE ONE THIS ONE JUST COUNTS THE LENGHT OF THE ENTIRE LIST -->
<div class="list-courses" *ngIf="courses.length > 0; else noCourses" class=""> <!-- WHENEVER YOU USE A STRUCATRAL DIRECTIVES YOU USE THE * WHICH IS CALLED ASTERISK -->
<!-- THIS IS THE UL -->
Here is the list of courses
</div >

<div> NO COURSES YETTTT</div>


<!-- EXAMPLE TWO -->
<!-- <div class="course-item" *ngIf="courses.length === 0" class="">  --><!-- WHENEVER YOU USE A STRUCATRAL DIRECTIVES YOU USE THE * WHICH IS CALLED ASTERISK -->
  <!-- THIS IS THE UL -->
<!-- No courses yet
</div> -->

<!-- EXAMPLE three WITH A NG TEMPLATE, APPRENTLY IT CAN BE INCONSISTENT -->
<ng-template #noCourses>
NG TEMPLATE: No courses yet
</ng-template>


<!-- EXAMPLE 4 WITH A NG TEMPLATE, APPRENTLY IT CAN BE INCONSISTENT -->

<br>
<!--                     A SIMPLE IF(course != null){ return noCourses elseif{return string s="DONT WORRKKK" } }-->
<div class="funtimes" *ngIf="courses.length > 3; then courseList else noCourses" ></div>

<div class="container">


<ng-template ngIf="" #courseList>
 list of coruses
  </ng-template>
<br>

<ng-template #noCourses>
  NG TEMPLATE: No courses yet
  </ng-template>
</div>


<!-- HIDDEN PROPERTY  -->
<!-- PROPERTY BINDING DOESNT SEEM TO WORK -->
<!-- HIDDEN PROPRTY VS NGIF THE NGIF REMOVES THE ELEMENT FROM THE DOM MEANWHILE HIDDEN JUST HAS IT HIDDEN -->
<div [hidden]="courses.length > 0" class="hidden">

   NO COURSES YETTTT

</div>
<div [hidden]="courses.length > 3" class="hidden">

  <div class="result">here is some result</div> 

</div>

<section class="aboutSec">
  <!-- IN SOME SITUATIONS BUILDING A LARGE ELEMENT WITH AN ELEMENT SUBTREES THE NG MAY IMPACT PERFORMANCE NEGATIVILY  -->
<h1> IMPORTANT</h1>
<h2> NGIF IS BEST FOR LARGE AMOUNT OF DATAT IN TREES </h2>


<!-- <img alt="Dont work" [src]="itemImageUrl" src="/src/assets/NGIFvsHIDDEN.PNG"> -->
<!-- <img src="explainPic" [src]="explainPic">-->
<!-- THIS DONT WORK FOR SOME REASON -->
</section>

<section >
<div class="nav nav-pills">
<ul>
  <li class="nav-item" [class.active]="viewMode == 'map'"><a class="nav-link" href="mapView" (click)="viewMode ='map'">map view</a></li>
  <li class="nav-item" [class.active]="viewMode == 'list'"><a href="listView" class="nav-link" (click)="viewMode ='list'">list view</a></li>
</ul>
</div>
<div  [ngSwitch]="viewMode">
<div *ngSwitchCase="'map'" class="map">MAP</div>
<div *ngSwitchCase="'list'"class="list">LIST</div>
<div *ngSwitchDefault="defaultSwitch">This is the defaultSwitch VIEW <!-- <img [src]="imageLink"> --></div>
</div>

</section>



<button mat-button color="primary">map view</button>
<button mat-raised-button color="primary">list</button>



<app-ng-for-testing>
</app-ng-for-testing>


<app-ng-server-api></app-ng-server-api>

<span class="something"
[class.something]="isSelected"
[class.something-diffrent]="!isSelected "
>
</span>

<span class="something-X"
[class.something]="isSelected"
[class.something-diffrent]="!isSelected "
>

<!-- WITH THE CLASS BINDING DIRECTIVE YOU AN REAPET THE BINDING TWICE -->
<!-- [class.something]="isSelected"
[class.something-diffrent]="!isSelected " VS THE CLASS BINDING DIRECTIVE
 -->
<section class="aboutSec"> <h1>EXAMPLES OF NG CLASS and LEADING ASTERISK AKA THIS *</h1>

<!-- HEREIS THE EXAMPLE WITH THE LEADING ASTERISK -->

<ng-template ngIf="courses.length > 0; else noCourses">
  list OF COURESEES  
</ng-template>

<ng-template ngIf="!(courses.length > 0);">
  NO COURESES 
</ng-template>

</section>


<section class="FullWidthsection"><h1>THIS SECTION PRACTICE THE NG CLASS </h1>
<app-ngclass-p class="container"></app-ngclass-p>
</section>

<app-safetravesaloperator></app-safetravesaloperator>